.App {
  text-align: center;
  width: 100%;
  height: 1200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content > .left {
  flex: 0 0 1010px;
  width: 1010px;
  height: 1010px;
  background-color: #fee;
}
.content > .right {
  flex: 1 1 auto;
  width: 100%;
}

.content > .right > .enable-btn {
  width: 100%;
}
